@import url('https://fonts.googleapis.com/css?family=Arvo|Lato|Oswald');
@import url('https://fonts.googleapis.com/css?family=Cardo|Oswald');

            p {
            font-family: 'Cardo',serif;
            font-size: 16px;
        }

        h1,h2,h3,h4,h5,h6 {
            font-family: 'Oswald',sans-serif;
        }
        
        .navbar-brand {
            font-size: 30px;
            font-family: 'Oswald',sans-serif;
        }
        
        .nav-item {
            font-size: 20px;
            font-family: 'Oswald',sans-serif;
        }
        
        .logo-img {
            height: 60px;
            width: 60px;
        }
        



h1 {
	font-family: 'Lato', 'sans-serif';
    font-size: 40px ;
}

/** buttons **/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.sharp {
    border-radius: 0;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: #000000;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #000000;
    color: #ffffff;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    background: transparent;
    color: #000000;
    border-color: #000000;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 24px;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/** blinker

**/
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .7;
  }
}

/**navbar**/
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

/*sidebar for sharing buttons */
            
            .sidebar-lg {
                position: fixed;
                width: 100px;
                z-index: 1000;
                left: 0px;
            }

            .sidebar-wrapper-lg {
                position:relative;
                top:100px;
            }

  
    
    .sidebar-wrapper-sm {
        position:static;
        margin-left:auto;
        margin-right:auto;
        bottom: 100px;
    }

            .fb-f {
                color: white;
            }

            
            .fb-btn {
                border-radius: 100%;
                border: solid;
                border-width: 2px;
                border-color:white;
                background-color: #3B5998;
                cursor: pointer;
            }
            
            .fb-btn:hover{
                background-color:white;
                border-color: #3B5998;
            }
            .fb-btn:hover .fb-f{
                color: #3B5998;
            }

.twit-icon {
    color: white;
}    

            .twit-btn {
                border-radius: 100%;
                border: solid;
                border-width: 2px;
                border-color:white;
                background-color: #1dcaff;
                cursor: pointer;
            }
            
            .twit-btn:hover{
                background-color:white;
                border-color: #1dcaff;
            }
            .twit-btn:hover .twit-icon{
                color: #1dcaff;
            }

/* footer */
#footer {
    position: static;
    bottom: 0;
}

/* conditionals */
@media only screen and (max-width: 480px) {
        .navbar-logotext {
        font-size: 1px !important;
        visibility: hidden !important;
    }
}